button {
  border-width: 0;
  background-color: transparent;
}

.topbar-logo {
  width: 40px;
}

.topbar {
  background-color: #f0f0f0 !important;
}

.nav-profile-img {
  width: 40px;
  border-radius: 50%;
  margin: 0.5rem;
}

.nav-header {
  font-weight: 700;
  color: #473f9b;
}

@media (max-width: 576px) {
  .topbar-logo {
    width: 40px;
  }

  .nav-profile-img {
    width: 30px;
  }
}
