.profile-build-container h2 {
    margin: 0;
    margin-right: 7px;
}

.profile-build-container p {
    font-size: 2.5rem;
    margin-left: 0;
    font-family: Avenir ;
}

.profile-build-container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
}

.header-icon-wrap {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width: 960px) {
    .profile-build-container {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
}