h4 {
  margin-bottom: 1rem !important;
}

.profile-container-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-container-right {
  padding: 1rem;
}

.section-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.info-card {
  height: 100%;
}

@media (max-width: 960px) {
  .section-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
