h4 {
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card {
    box-shadow: 10px 10px 8px 8px #dbdbdb;
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
    display: flex;
}

.column-1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column-2 {
    width: 70%;
}