.search-bar {
  width: 80%;
  height: 2.75rem;
  border-radius: 10rem;
  background-color: #f3f3f3;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  display: flex;
}

.search-input {
  background-color: #f3f3f3;
  border-color: transparent;
}

.search-input:focus-visible {
  outline: none;
}